<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configuration du handler pour FastCGI -->
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Python39\python.exe|C:\Python39\Scripts\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>

    <!-- Configuration FastCGI -->
    <fastCgi>
      <application fullPath="C:\Python39\python.exe">
        <environmentVariables>
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="ticketing_project.settings" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\ticketing_system" />
          <environmentVariable name="WSGI_HANDLER" value="ticketing_project.wsgi.application" />
        </environmentVariables>
        <instanceMaxRequests value="1000" />
        <monitorChangesTo value="C:\inetpub\wwwroot\ticketing_system\ticketing_project\wsgi.py" />
        <activityTimeout value="300" />
        <requestTimeout value="300" />
        <queueLength value="1000" />
        <rapidFailsPerMinute value="10" />
      </application>
    </fastCgi>

    <!-- Configuration des fichiers statiques -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Réécriture d'URL -->
    <rewrite>
      <rules>
        <!-- Règle pour les fichiers statiques -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" ignoreCase="true" />
          <action type="None" />
        </rule>
        
        <!-- Règle pour les fichiers médias -->
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/.*" ignoreCase="true" />
          <action type="None" />
        </rule>

        <!-- Règle pour les fichiers admin -->
        <rule name="Admin Files" stopProcessing="true">
          <match url="^admin/.*" ignoreCase="true" />
          <action type="None" />
        </rule>

        <!-- Règle principale pour Django -->
        <rule name="Django" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Headers de sécurité -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>

    <!-- Compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Cache pour les fichiers statiques -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>

    <!-- Limites de la requête -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>

    <!-- Pages d'erreur personnalisées -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error404.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error500.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <!-- Configuration de l'application -->
  <appSettings>
    <add key="DJANGO_SETTINGS_MODULE" value="ticketing_project.settings" />
    <add key="WSGI_HANDLER" value="ticketing_project.wsgi.application" />
  </appSettings>
</configuration>
